<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simform.rushabhmodi.androidlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <!-- allowBackup, fullBackupContent and action.VIEW in laucher are added to remove lint -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitymain.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activitymain.HomeScreenActivity" />
        <activity
            android:name=".activitymain.HomeNavigationActivity"
            android:label="@string/title_activity_home_navigation"
            android:parentActivityName=".activitymain.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simform.rushabhmodi.androidlearning.activitymain.HomeScreenActivity" />
        </activity>
        <activity android:name=".exampleactivities.GestureExampleActivity" />
        <activity android:name=".exampleactivities.IntentExampleActivity" />
        <activity android:name=".exampleactivities.ExpandableRecyclerViewExampleActivity" />
        <activity android:name=".exampleactivities.DialogFragmentExampleActivity" />
        <activity android:name=".exampleactivities.ListFragmentExampleActivity" />
        <activity
            android:name=".exampleactivities.CollapsingToolbarScrollingExampleActivity"
            android:label="@string/collapsing_scrolling_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".exampleactivities.ScrollViewsExampleActivity" />
        <activity android:name=".exampleactivities.SearchExampleActivity" />
        <activity android:name=".exampleactivities.WebViewExampleActivity" />
        <activity android:name=".exampleactivities.TextInputExampleActivity" />
        <activity
            android:name=".exampleactivities.DesingSupportExampleActivity"
            android:label="@string/title_activity_tab_layout_example"
            android:theme="@style/AppTheme.TabLayoutExample" />
        <activity android:name=".exampleactivities.WidgetsExampleActivity" />
        <activity android:name=".exampleactivities.SharedPreferencesExampleActivity" />
        <activity android:name=".other.SharedPreferencesEditActivity" />
        <activity android:name=".exampleactivities.InternalStorageExampleActivity" />
        <activity android:name=".exampleactivities.ExternalStorageExampleActivity" />
        <activity android:name=".exampleactivities.SqliteDatabaseExampleActivity" />
        <activity android:name=".exampleactivities.RoomLibraryExampleActivity" />
        <activity android:name=".exampleactivities.SimpleRecyclerViewExampleActivity" />
        <activity android:name=".other.RoomAddActivity" />
        <activity android:name=".exampleactivities.PermissionExampleActivity" />
        <activity android:name=".exampleactivities.NotificationExapleActivity" />

        <service android:name=".exampleactivities.PushNotificationExampleActivity">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.StartedService" />
        <service android:name=".service.BindedService" />

        <activity android:name=".exampleactivities.ServiceExampleActivity" />
    </application>

</manifest>