<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simform.rushabhmodi.androidlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeScreenActivity" />
        <activity
            android:name=".activity.HomeNavigationActivity"
            android:label="@string/title_activity_home_navigation"
            android:parentActivityName=".activity.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simform.rushabhmodi.androidlearning.activity.HomeScreenActivity" />
        </activity>
        <activity android:name=".examples.GestureExampleActivity" />
        <activity android:name=".examples.IntentExampleActivity" />
        <activity android:name=".examples.ExpandableRecyclerViewExampleActivity" />
        <activity android:name=".examples.DialogFragmentExampleActivity" />
        <activity android:name=".examples.ListFragmentExampleActivity" />
        <activity
            android:name=".examples.CollapsingToolbarScrollingExampleActivity"
            android:label="@string/collapsing_scrolling_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".examples.ScrollViewsExampleActivity" />
        <activity android:name=".examples.SearchExampleActivity" />
        <activity android:name=".examples.WebViewExampleActivity" />
        <activity android:name=".examples.TextInputExampleActivity" />
        <activity
            android:name=".examples.DesingSupportExampleActivity"
            android:label="@string/title_activity_tab_layout_example"
            android:theme="@style/AppTheme.TabLayoutExample" />
    </application>

</manifest>